<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Add new Course</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Course Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Add new course: </p>
	
		<form action="#" th:action="@{/courses/save}"
						 th:object="${course}" method="POST">
		
			<input type="hidden" th:field="*{id}" />
			
			<p class="h4 mb-4">Fill the course's ID: </p>
			
			<input type="text" th:field="*{courseId}"
					class="form-control mb-4 col-4" placeholder="Course ID">
			
			<p class="h4 mb-4">Fill the course's name: </p>
			
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Name">
			
			<p class="h4 mb-4">Fill the course's Academic year: </p>
			
			<input type="text" th:field="*{Academic_year}"
					class="form-control mb-4 col-4" placeholder="Academic year">
			
			<p class="h4 mb-4">Fill the course's Semester: </p>
			
			<input type="text" th:field="*{Semester}"
					class="form-control mb-4 col-4" placeholder="Semester">
			
			<p class="h4 mb-4">Fill the course's Description: </p>
			
			<input type="text" th:field="*{Description}"
					class="form-control mb-4 col-4" placeholder="Description">
					
			<p class="h4 mb-4">Fill the course's Syllabus: </p>
					
			<input type="text" th:field="*{Syllabus}"
					class="form-control mb-4 col-4" placeholder="Syllabus">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/courses/list}">Back to Courses List</a>
		
	</div>
</body>

</html>










