<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Grade registration</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Register grades:</h3>
		<hr>
		
		<p class="h4 mb-4">Fill the student's grades below</p>
	
		<form action="#" th:action="@{/students/save}"
						 th:object="${student}" method="POST">
		
			
			<input type="text" th:field="*{project_grade}"
					class="form-control mb-4 col-4" placeholder="Project grade">

			<input type="text" th:field="*{exam_grade}"
					class="form-control mb-4 col-4" placeholder="Exam grade">

					
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/students/list}">Back to Students List</a>
		
	</div>
</body>

</html>










