<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Enroll new student</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Calculate students' overall grades:</h3>
		<hr>
		
	
		<form action="#" th:action="@{/students/saveParam(courseId=${courseId})}"
						 th:object="${param}" method="POST">
		
			
			<p class="h4 mb-4">Fill the project's weight to the overall grade (decimal number in range of [0,1]): </p>
			
			<input type="text" th:field="*{projectWeight}"
					class="form-control mb-4 col-4" placeholder="Project weight">

			<p class="h4 mb-4">Fill the project's minimum grade needed for passing (min: 0, max: 10): </p>
			
			<input type="text" th:field="*{projectBase}"
					class="form-control mb-4 col-4" placeholder="Minimum grade">
					
			<p class="h4 mb-4">Fill the exam's weight to the overall grade (decimal number in range of [0,1]): </p>
			
			<input type="text" th:field="*{examWeight}"
					class="form-control mb-4 col-4" placeholder="exam weight">

			<p class="h4 mb-4">Fill the exam's minimum grade needed for passing (min: 0, max: 10): </p>
			
			<input type="text" th:field="*{examBase}"
					class="form-control mb-4 col-4" placeholder="Minimum grade">
					
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/students/back(courseId=${courseId})}">Back to Students List</a>
		
	</div>
</body>

</html>